/* FOOTER */
.greybar {
    width:100%;
    height:90px;
    background:$greyBarColor;
    clear:both;
    padding-top:30px;
}
footer {
    width:100%;
    height:120px;
    background:$footerColor;
    text-align:center;
    color:$headingsColor1;
    padding-top:50px;
}

.social-media {
    margin:0 auto;
    width:165px;

    div {
        float:left;
        margin-right:5px;
    }
    a {
        display:block;
        width:36px;
        height:36px;
        text-indent:-9999px;
    }

    //use math operations
    $baseline: -38;
    $divOne: $baseline * 0;
    $divTwo: $baseline * 2;
    $divThree: $baseline * 1;
    $divFour: $baseline * 3;


    div.one {
        @include footerSocialMediaImage(url($socialMediaImage) $divOne + px 0);
    }
    div.two {
        @include footerSocialMediaImage(url($socialMediaImage) $divTwo + px 0);
    }
    div.three {
        @include footerSocialMediaImage(url($socialMediaImage) $divThree + px 0);
    }
    div.four {
        @include footerSocialMediaImage(url($socialMediaImage) $divFour + px 0);
    }
}