header {
    width:inherit
    ;clear:both;
    text-align:center
    ;padding-top:40px;
}

header img {
    max-width:100%;
    height:auto;
}
header h1 {
    color:$headlineColor;
    font-weight:100;
    font-size:4em;
    line-height:$headerLineHeigh;
}
header h2 {
    color:$headingsColor1;
    font-weight:900;
    font-size:2.5em;
    line-height:$headerLineHeigh;
    margin-bottom:70px;
}
header h3 {
    color:$headingsColor2;
    font-weight:400;
    font-size:2em;
    line-height:$headerLineHeigh;
    margin-bottom:50px;
}