/* BASIC STYLES */
body {
    font-family: $font-Body, sans-serif;
    font-size:1em;line-height:2em;
    background:url($bgImage) $headingsColor1 repeat-x;
    margin:0;
}
main {
    width:940px;
    margin:0 auto;
    padding:0 10px;
}

header {
    width:inherit
    ;clear:both;
    text-align:center
    ;padding-top:40px;

    img {
        @include backImage (100%, auto); 
    }

    h1 {
        @include headerTags ($headlineColor, 100, 4em, 0); 
    }
    h2 {
        @include headerTags ($headingsColor1, 900, 2.5em, 0);
        margin-bottom:70px;
    }
    h3 {
        @include headerTags ($headingsColor2, 400, 2em, 0);
        margin-bottom:50px;
    }
}

/* CONTENT */
#headline {
    width:100%;
    height:130px;
    background:$headlineColor2;
    text-align:center;
    margin:0 auto;

    h1 {
        color:$headingsColor1;
        font-size:2.5em;
        font-weight:100;
        padding-top:50px;
    }
}
#content {
    width:940px;
    margin:20px auto;

    h3 {
        color:$headingsColor2;
        font-size:2em;
        font-weight:400;
    }
    #products {
        width:460px;
        float:left;

        img {
            float:left;
            margin-right:
            20px;
        }
        article {
            margin-bottom:40px;
        }
        h4 {
            line-height:1em;
        }
    }

    #testimonials {
        width:460px;
        float:right;
    }
}