@mixin headerTags ($color: #FFF, $font-Weight: 500, $font-Size: 2.5em, $line-Height:0) {
    color: $color;
    font-weight:$font-Weight;
    font-size:$font-Size;
    line-height:$line-Height;
}

@mixin backImage($max-Width:100%, $height:auto) {
    max-width:$max-Width;
    height:$height;
}

@mixin footerSocialMediaImage ($backImage: url('../images/social-media.png') 0 0) {
    background: $backImage;
}