@mixin headerTags ($color: #FFF, $font-Weight: 500, $font-Size: 2.5em, $line-Height:0) {
    color: $color;
    font-weight:$font-Weight;
    font-size:$font-Size;
    line-height:$line-Height;
}

@mixin backImage($max-Width:100%, $height:auto) {
    max-width:$max-Width;
    height:$height;
}

@mixin footerSocialMediaImage ($backImage: url('../images/social-media.png') 0 0) {
    background: $backImage;
}

@mixin companyLogo ($width:400px, $height:190px,$background: url($logoImage) no-repeat 0 50px, $float: left, $display: block, $margin: 0) {
    width: $width;
    height: $height;
    background: $background;
    float: $float;
    display: $display;
    margin: $margin;
}

@mixin break($minLength: 768px, $maxLength: 959px) {
    @media (min-width: $minLength) and (max-width: $maxLength) {
        @content;
    }
}
