$headlineColor: #E65C43;
$headlineColor2: #F25C43;
$headingsColor1: #FFF;
$headingsColor2: #666;
$greyBarColor: #F5F6F6;
$footerColor: #30353D;
$backgroundImage: '../images/bg.gif';
$logoImage: '../images/logo.png';
$socialMediaImage: '../images/social-media.png';

$font-Body: 'Roboto';
$headerLineHeight: 0;